# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/

# VSCode or PyCharm settings (optional)
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
#Model files
backend/models
