fastapi
uvicorn
transformers
pytesseract
SpeechRecognition
python-multipart
vosk
scikit-learn
python-bidi
sentence_transformers
torch
faiss-cpu==1.7.4
numpy
pandas==1.5.3
dotenv
groq
arabic_reshaper
requests
bs4
typing
urllib
